<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="furious.phillypolicemobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <activity android:name="furious.viewfragments.main.MainStartFragmentActivity">

        </activity>
        <activity android:name=".StartUpSplash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver android:name=".PoliceBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="furious.viewfragments.bookmark.PoliceNews"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="furious.viewfragments.main.MainStartFragmentActivity" />

        </activity>
         <service android:name="furious.phillypolicemobile.PoliceUpdateService"></service>
         <activity android:name="furious.viewfragments.PoliceNewsAll" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
         <activity android:name="furious.viewfragments.preferences.MainPreferenceActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
         <activity android:name="furious.viewfragments.district.DistrictFragmentActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
         <activity android:name="furious.viewfragments.bookmark.BookmarkFragmentActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
         <activity android:name="furious.viewfragments.usmurders.MainUSMurderActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="furious.viewfragments.usmurders.USMurderStories" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="furious.viewfragments.uscrimes.MainUSCrimesActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"></activity>


        <activity android:name=".StartUpSplash1"></activity>
         
    </application>

</manifest>
