<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="furious.phillypolicemobile"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".StartUpSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StartUpSplash1"/>

        <activity android:name="furious.viewfragments.bookmark.PoliceNews"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name="furious.viewfragments.PoliceNewsAll"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="furious.viewfragments.main.MainStart"/>
        <activity android:name="furious.viewfragments.preferences.MainPreferenceActivity"/>
        <activity android:name="furious.viewfragments.district.DistrictFragmentActivity"/>
        <activity android:name="furious.viewfragments.bookmark.BookmarkFragmentActivity"/>

        <receiver android:name=".PoliceBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".PoliceUpdateService"/>

    </application>
</manifest>
